repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: debug-statements

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
  - id: ruff-check
    args: [--fix]
  - id: ruff-format

- repo: local
  hooks:
  # - id: ty
  #   name: ty type checker
  #   entry: uvx ty check
  #   language: system
  #   types: [python]
  #   pass_filenames: false
  #   always_run: true

  - id: pytest
    name: pytest
    entry: uv run pytest --ignore=tests/benchmarks --ignore=tests/integration
    language: system
    pass_filenames: false
    always_run: true
